css:
  button.inactive {
    background-color: transparent;
    color: #fff;
  }

.container-fluid[ng-app="events" ng-controller="EventListController as events" style="padding-right: 0; padding-left:0;" data-no-turbolink="true"]
  .row[style="display: -webkit-flex; display: flex; margin-bottom: 20px; margin-left: 0; margin-right: 0;"]
    div[style="margin-left: 20px; margin-top: 18px;"]
      .btn-group.btn-group-lg[role="group" aria-label="..."]
        button.btn.btn-default[ng-class="{ inactive: events.sort_key == 'entry' }" ng-click="events.updateSortButton('date')" type="button" style="width: 100px; border-radius: 0;"]
          | 日付
        button.btn.btn-default[ng-class="{ inactive: events.sort_key == 'date' }" ng-click="events.updateSortButton('entry')" type="button" style="width: 100px; border-radius: 0; "]
          | 参加
    div style="-webkit-flex: 1; flex: 1; margin-top: 18px;"
      div.pull-right style="border: 3px solid #fff; width: 44px; height: 44px; box-shadow: 0px 0px 3px #000, 0px 0px 3px #000 inset; margin-right: 20px;"
        a.glyphicon.glyphicon-pencil[style="font-size: 30px; color: #fff; margin: 2px 4px; text-shadow: 0px 0px 3px #000;" href="#{new_app_event_path}"]

  .row[ng-repeat="event in events.list" style="color: #fff; margin: 0; padding: 18px 10px; min-height: 114px; background-color: rgba(0,0,0,.6); border-top: 1px solid #333" ng-click="events.go(event)"]
    div
      span[ng-bind="event.deco_scheduled_at"]
      span.glyphicon.glyphicon-check[ng-if="events.joined(event)" style="margin-left: 10px;"]
    div[style="display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center;"]
      div[style="overflow: hidden; padding: 0; width: 20%;"]
        img[ng-src="{{ event.artist.image_url }}" style="width: 50px;"]

      div[style="flex-grow: 1; padding-left: 10px;"]
        div style="font-size: 20px;"
          span[ng-bind="event.artist.name"]
        div[ng-bind="event.event_site.name + '(' + event.prefecture.name + ')'" style="font-size: 16px;"]

script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"
script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-sanitize.js"
javascript:
  angular.module('events', ['ngSanitize'])
    .controller('EventListController', ['$filter', function($filter) {
      this.list = #{raw @events.to_json};
      this.event_entries = #{raw(@event_entries.to_json)};

      this.go = function (event) {
        location.href = Routes.app_event_path(event);
      };

      this.updateSortButton = function (key) {
        this.sort_key = key;
        this.sort(key);
      };

      this.sort_key = 'date'; // entry
      var $orderBy = $filter('orderBy');
      this.sort = function () {
        if (this.sort_key == 'date') {
          this.list = _.chain(this.list).sortBy('created_at').reverse().value();
        } else {
          this.list = _.chain(this.list).sortBy(_.bind(function (event) {
            if (this.joined(event)) {
              return 1 + event.created_at;
            } else {
              return 0 + event.created_at;
            }
          }, this)).reverse().value();
        }
      };

      this.joined = function (event) {
        return _.findWhere(this.event_entries, { id: event.id });
      };

      this.sort();
    }]);
