.container-fluid[style=" padding-top: 10px;" data-no-turbolink="true"]
  = form_for @user, url: image_app_user_path(@user), method: :patch, html: { class: 'form-horizontal' } do |f|
    .form-group
      = f.label 'プロフィール画像', class: 'col-sm-2 control-label', style: 'color: #fff;'

    .row[style="margin-bottom: 10px;"]
      - User::RANDOM_PROF_IMAGES.each do |i|
        .col-xs-4[style="margin-bottom: 10px;"]
          = image_tag('profile/%03d.jpg' % i, class: 'img-circle', name: 'image_no', data: { value: i })

    .form-group
      .col-xs-12
        = f.submit 'OK', class: 'btn-lg btn-block'

  = form_for @user, url: image_app_user_path(@user), method: :patch, html: { class: 'form-horizontal', enctype: 'multipart/form-data' } do |f|
    .form-group
      .col-xs-12
        input[type="hidden" name="file" value="true"]
        input.image-input[type="file" name="image" accept="image/*" multiple style="display: none;"]
        button.image-btn.btn-default.btn-lg.btn-block[type="button" style="line-height: 1; border-radius: 3px; font-size: 1em;"] アルバムから選択

= javascript_include_tag 'jquery.imgcheckbox', 'data-turbolinks-track' => true
javascript:
  $('.image-input').on('change', function (e) {
    console.log('image-input changed');
    console.dir(e);
    var file = e.target.files[0];
    if (!file) {
      return;
    };
    $(this).parents('form').submit();
  });

  $('.image-btn').on('click', function () {
    console.log('image-btn clicked');
    $('.image-input').trigger('click');
  });

  $('img').imgCheckbox({
    radio: true,
    preselect: #{@user.image_path[/^profile/] ? [@user.image_no] : []},
    styles: {
      "span.imgChked": {
        "border-radius": "80px",
        "-webkit-border-radius": "80px"
      }
    }
  });
