#content
  #chevron.fa.fa-chevron-down
  #splash
    #left
      .inner
        h1.tac
          | LIVEHOUSE
        p.tac
          | ~情報先行公開！音楽動画アプリ~
        p[style="margin-top: 16px; margin-bottom: 16px;"]
          |  人気アーティストのライブ動画やプライベート動画、ミュージックビデオ、新曲などがどこよりも早く見れる！！
        p
          |  【 LIVEHOUSEの特徴 】
        p[style="margin-left: 8px;"]
          |  ■ 無料で見れる
        p[style="margin-left: 10px;"]
          |  LIVEHOUSEは完全無料のアプリです！
        p[style="margin-left: 8px;"]
          |  ■ 人気アーティスト集合
        p[style="margin-left: 10px;"]
          |  今音楽チャートを賑わせているバンドが大集合！
      a[href="https://itunes.apple.com/app/id923819273"]
        = image_tag 'teaser/appstore.svg', class: 'appstore', alt: 'Download on the Apple App Store'
    #right
      .iphone
        = image_tag 'teaser/01.png'
  #icon-row
    #icon-container
      = image_tag 'teaser/icon.png'
  #screenshots.text-center
    = image_tag 'teaser/02.png'
  p#description
  p.text-center
    a[href="https://itunes.apple.com/app/id923819273"]
      = image_tag 'teaser/appstore.svg', class: 'appstore', alt: 'Download on the Apple App Store'
  p
  #like-container
    .fb-like[data-share="true" data-width="450" data-show-faces="true"]

  - if smartphone?
    css:
      body { background-color: rgba(0,0,0,.9); }
  - else
    = javascript_include_tag 'okvideo'
    javascript:
      $.okvideo({ video: 'https://www.youtube.com/watch?v=pRG7FJobkv4' });
  p
  p#copyright.text-center
    | ©Japan Music System
